.nav {
  height: 6rem;
  background-color: rgb(32,32,32);
  color: rgb(204, 202, 202);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav .mylogo{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav ul {
  margin: 0 -15rem 0 0;
}
.nav .uls {
    
  }
.nav ul .lists {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 20rem;

}

.nav ul .lists li {
  list-style: none;
  margin: 0 .9rem;
  font-family: poppins;
}
.nav ul .lists hr{
   display: none;
 }
.farbar {
    max-width: 30px;
    display: none;
}
.farbar div{
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 100%;
    margin: 5px 20px;
   
}
@media screen and (max-width:460px) {
 
    .nav{
      overflow-x: hidden;
      justify-content: space-between;
      background-color:  rgb(204, 202, 202);
    }
    .nav ul {
        margin: 0 0rem 0 0;
      }
    .nav .ul{
        display: flex;
        flex-direction: column; 
        position: absolute;  
        background-color: rgb(32,32,32);
        width: 70vw;
        height: 100vh;
        right: -20rem;
        top: 0rem;
        justify-content: center;
    }
    .nav .uls{
        display: flex;
        flex-direction: column; 
        position: absolute;  
        background-color: rgb(32,32,32);
        width: 70vw;
        height: 100vh;
        right: -10rem;
        top: 0rem;
        justify-content: center;
    
    }
    .nav ul .lists{
        display: flex;
        flex-direction: column; 
        width: 70vw;
        height: 90vh;
        justify-content: center;
        align-items: flex-start;
         
    }
    .nav ul .lists li{
       
    }
    .nav ul .lists hr{
       width: 70vw;
       display: block;
       font-weight: 50;
       margin: .5rem 0;
    }
    .nav .mylogo{
        margin: 0 0 0 3rem;
        color: rgb(32,32,32);;
    }
    .nav .farbar{
        display: block;
        margin: 0 0rem 0 0;
        position:absolute;
        right: 5rem;
        border-bottom: rgb(32,32,32);;
    }
}