.complete-review{
    background-color: rgb(32,32,32);
    color: lightgray;
    padding: 4rem 2rem 1.5rem 2rem;
    margin: 0rem 1.5rem 1.5rem 0;
    font-family: poppins;
    height: 45vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   z-index: -1;
}
.each-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.name-pix{
}
.review-pix{
    width: 3rem;
    background-color: lightgray;
    top: 0rem;
   height: 6rem;
   width: 6rem;
   z-index: 100;
   border-radius: 50%;
   margin: 0em  0 -2.5rem 38.5%;
   z-index: 6;
}
.revimg{
    width: 100%;
    border-radius: 50%;
}
.review{
    text-align: center;
    padding: 1rem 0 0 0;
}
.name{
    font-family: poppins;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(138, 138, 138);
}

@media screen and (max-width:460px) {
    .complete-review{
        height: 75vh;
        margin: 1rem 0;
    }
    .review-pix{
       margin: 0em  0 -3.5rem 33%;
    }
}
